@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

body {
	background: hsl(223, 64%, 98%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "kumbh sans", sans-serif;
}

/*HEADER STYLE*/

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: lightskyblue;
	height: 4rem;
	background: hsl(0, 0%, 100%);
}

.logo-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50%;
	width: 180px;
}

.perfil-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 70px;
	height: 50%;
}

.avatar {
	width: 25px;
	cursor: pointer;
}

.cart-icon {
	cursor: pointer;
}

.cart-container {
	background: hsl(0, 0%, 100%);
	width: 90%;
	height: 25%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	top: 4.5rem;
	left: 1rem;
	z-index: 50;
	border-radius: 10px;
	box-shadow: 0 10px 20px 1px #2221;
	display: none;
}

.cart-items {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.cart-items > p {
	color: hsl(220, 14%, 45%);
	font-weight: 700;
}

.cart-text {
	margin: 20px;
	font-size: 18px;
	font-weight: 700;
}

.open-cart-container {
	display: flex;
}

/*MENU STYLE*/

.nav-container {
	display: flex;
	position: fixed;
	background: hsl(0, 0%, 100%);
	width: 70%;
	height: 100vh;
	top: 0;
	z-index: 100;
	display: none;
}

.icon-menu {
	position: relative;
	right: 5px;
}

.nav-menu {
	position: relative;
	top: 70px;
	width: 70%;
	height: 40%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	margin-left: 15px;
	flex-direction: column;
}

.li-items {
	list-style: none;
}

.links {
	color: hsl(220, 13%, 13%);
	font-weight: 700;
	text-decoration: none;
	font-size: 25px;
}

.close-icon {
	position: absolute;
	top: 17px;
	left: 17px;
	cursor: pointer;
}

/*BANNER STYLE*/

.banner-container {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-product {
	width: 100%;
	max-height: 100%;
}

.previus-icon {
	position: absolute;
	left: 20px;
	background: hsl(0, 0%, 100%);
	padding: 10px;
	border-radius: 50%;
}

.next-icon {
	position: absolute;
	right: 20px;
	background: hsl(0, 0%, 100%);
	padding: 10px;
	border-radius: 50%;
}


/*MAIN PRODUCT STYLE*/

.main-product {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.product-description {
	margin: 14px;
	color: hsl(219, 9%, 45%);
	font-size: 20px;
	font-weight: 500;
}

.title-container {
	display: flex;
	justify-content: space-around;
	height: 130px;
	align-items: flex-start;
	flex-direction: column;
	margin: 14px;
}

.title-container > h3 {
	color: hsl(26, 100%, 55%);
}

.product-price-container {
	display: flex;
	width: 92%;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	margin: 10px;
}

.product-price-container .product-price {
	font-weight: 700;
	font-size: 32px;
}

.product-price-container .product-discount {
	padding: 10px;
	background: hsl(25, 100%, 94%);
	color: hsl(26, 100%, 55%);
	font-weight: 700;
	position: relative;
	right: 40px;
}

.product-price-container .product-last-price {
	text-decoration: line-through;
	color: hsl(220, 14%, 75%);
	font-size: 20px;
	font-weight: 700;
}

.total-products-container {
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 92%;
	height: 50px;
}

.total-products-container .total-products {
	font-size: 16px;
	font-weight: 700;
}

.total-products-container .minus-icon {
	width: 14px;
}

.total-products-container .plus-icon {
	width: 14px;
}

.btn-add {
	width: 92%;
	height: 70px;
	border-radius: 10px;
	border: none;
	background: hsl(26, 100%, 55%);
	color: hsl(0, 0%, 100%);
	font-size: 17px;
	font-weight: 700;
	margin: 20px;
}

.btn-add > img {
	position: relative;
	right: 10px;
}